<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572765154031-5ks9e5acs25ultgcm9aulholgo8l85l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572765154031-5ks9e5acs25ultgcm9aulholgo8l85l6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572765154031-6b22a91adf46arb4ssgpfk7t48gei8l9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDB7jlgcuVAQfH9AC_zukfEA1nZtdMzRJI</string>
	<key>GCM_SENDER_ID</key>
	<string>572765154031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pecock.pecockapp</string>
	<key>PROJECT_ID</key>
	<string>peacock-f7fa5</string>
	<key>STORAGE_BUCKET</key>
	<string>peacock-f7fa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572765154031:ios:2fe8d07ad18608ee8d491a</string>
</dict>
</plist>